header .banner {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    color: #fff;
    transition: opacity 0.25s ease;
    box-sizing: border-box;
    font-family: open sans, sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    pointer-events: none;
    top: -0.2em;
    max-width: 100vw;
    overflow: hidden;
    height: 3em;
}

header .banner i {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    color: #fff;
    pointer-events: none;
    transition: opacity 0.25s ease;
    box-sizing: border-box;
    font-family: open sans, sans-serif;
    display: inline-block;
    flex-grow: 0;
    width: 0.9em;
    height: 0.9em;
    background: rgba(255, 100, 100, 0.9);
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 5px 8px rgba(255, 100, 100, 0.8);
    margin-right: 20px;
    flex-shrink: 0;
}

header .banner i:nth-child(2n) {
    top: 1em;
    margin-top: 0.4em;
}

header .banner i:nth-child(3n) {
    top: 1em;
}

header .banner i:nth-child(2n) {
    background: white;
    box-shadow: 0px 5px 8px rgba(255, 255, 255, 0.8);
}

header .banner i:nth-child(4n) {
    top: 1em;
}
